#nuestros-locales {
    background: var(--smokewhite);
    padding: 60px 0;
    width: 100%; 
}

.funnel-sans-regular-index {
  font-family: "Funnel Sans", sans-serif;
  color: var(--blue);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 5px;
  grid-column: span 2;
  letter-spacing: 1px;
}

.corinthia-regular-index {
  font-family: "Corinthia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  color: var(--blue);
  margin-top: -8px;
  margin-bottom: 8px;
  line-height: 1;
}
 
.noto-sans-kaithi-regular {
  font-family: "Noto Sans Kaithi", sans-serif;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  text-align: justify;
}

.local-card {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto 60px auto;
    gap: 40px;
}

.local-card:last-child {
    margin-bottom: 0; /*Elimina el margen inferior para la última tarjeta*/
}

.local-image {
    flex: 0 0 350px;
    height: 240px;
    overflow: hidden; /*Evita que la imagen se desborde del contenedor */
    border-radius: 8px;;
}

.local-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*Evita que la imagen se deforme */
    display: block; /*Elimina el espacio debajo de la imagen */
}

.local-content {
    flex: 1;
    padding: 0 10px;
    text-align: left;
    max-width: 350px;
}

.local-card:nth-child(even) {
    flex-direction: row-reverse; /*Invierte el orden de la imagen y el contenido para las tarjetas pares*/
}

.funnel-sans-bold-index {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: var(--blue);
  letter-spacing: 1px;

  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.destacados-redes {
    display: flex;
    justify-content: center;
    align-items: center;
}